@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(162, 6, 252);
}
#main-c{
    max-width: 700px;
}

#sec-c{
    background-color: white;
    border-radius: 10px;
}

.row-1{
    margin: 0;
    padding: 0;
}
#toinput{
    border: none;
    background:transparent;
    outline: none;
    background: rgb(234, 234, 234);
    border-radius: 10px;
    width:70%;
}
button{
    border: none;
    outline:none;
    border-radius: 10px;
    background-color: orange;
    color:white;
}
#task{
    border-radius: 5px;
}
ul li{
    list-style: none;
    position: relative;
}

#foot{
    text-align: right;
}

@media(max-width: 380px){
    #lead{
        font-size: 25px;
    }
    #user{
        font-size: 19px;
    }
    .btn{
        font-size: 10px;
    }
    #edit_alert{
        margin-top: 34px;
    }
}










